# .env-template

# === SPRING PROFILES (dev / qa / prod) ===
SPRING_PROFILES_ACTIVE=profile_active

# === Database ===
# DB_URL=jdbc:postgresql://database:5432/movimaps
DB_USERNAME=usuario_db
DB_PASSWORD=password_db

# === OSRM (Optional) ===
# OSRM_URL=osrm_url
